@import "./common/header.css";
@import "./common/footer.css";


.test {
  color: rgba(1, 100, 55, 1);
  color: rgba(255, 208, 43, 1);
  color: rgba(80, 184, 178, 1);
  color: rgba(255, 250, 226, 1);
}
/* Auto layout */
.qw {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 840px;
  height: 180px;
  left: 300px;
  top: 1227px;
}

/* ============  section0  ============ */

.section0_content_1 {
  position: absolute;
  width: 532px;
  height: 278px;
  right: 120px;
  top: 220px;
}
.section0_content_2 {
  position: absolute;
  width: 600px;
  height: 278px;
  right: 52px;
  top: 315px;
}
.section0_text_bg_1 {
  background: #fffae2;
  width: 400px;
  height: 60px;
}
.section0_text_bg_2 {
  background: #fffae2;
  width: 600px;
  height: 60px;
}
.section0_banner img {
  width: 100%;
}
.section0_text {
  font-weight: bold;
  font-style: normal;
  font-size: 64px;
  line-height: 93px;
  position: absolute;
  top: -30px;
  left: 28px;
  text-shadow: -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff,
    3px 3px 0 #fff;
}
/* ============  section0  end ============ */
/* ============  section1 ============ */
.section1 {
  margin-bottom: 100px;
}
.section1_pic_all {
  margin: 50px auto 0px;
}
.section1_pic {
  display: flex;
  margin: 0 auto;
  width: 1050px;
  justify-content: space-evenly;
}
.section1_img1_all {
  position: relative;
  width: 310px;
}
.section1_img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 7px solid #50b8b2;
  margin: 0 auto;
}
.section1_img1 {
  background-image: url(../img/pic-1.png);
}
.section1_img2 {
  background-image: url(../img/pic-2.png);
}
.section1_img3 {
  background-image: url(../img/pic-3.png);
  background-size: 200%;
}
.section1_img_text_bg {
  width: 310px;
  height: 60px;
  background: #50b8b2;
  border-radius: 50px;
  position: absolute;
  top: 160px;
}
.section1_img_text {
  font-size: 18px;
  width: 310px;
  color: #fff;
  text-align: center;
  line-height: 60px;
}
/* ============  section1  end ============ */
/* ============  section2 ============ */
.section2 {
  height: 800px;
  background-image: url(../img/pic-3.png);
  background-repeat: no-repeat;
}
/* ============  section2  end ============ */
/* ============  section3 ============ */
.section3_box_all {
  margin: 0 auto;
}
.section3_box1 {
  width: 782px;
  height: 450px;
  background-color: #fffae2;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin: 30px auto;
}
.section3_box2 {
  height: 100%;
}
.section3_box_link_all {
  width: 782px;
  position: relative;
  margin: 0 auto;
}
.section3_box_link {
  position: absolute;
  width: 15px;
  height: 74px;
  left: 55px;
  top: -53px;
  background: #c4c4c4;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
}
.section3_box_link2 {
  left: 710px;
}
.section_box_title_bg {
  width: 670px;
  height: 70px;
  line-height: 70px;
  background: #ffd02b;
  border-radius: 50px;
  margin: 26px auto;
}
.section_box_title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.05em;
}
.section3_box_img {
  text-align: center;
  padding-top: 15px;
}
.section3_box2_content {
  width: 670px;
  margin: 10px auto 20px;
  text-align: justify;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
.section3_case {
  display: flex;
  margin: 50px auto;
  width: 850px;
  /* border: 1px solid red; */
}
.section3_caseA {
  margin: 0 auto;
}
.section3_case_img {
  text-align: center;
}
.section3_case_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #828282;
  margin: 20px;
}
.section3_caseA_list {
  width: 380px;
}
.section3_caseA_li {
  margin-bottom: 10px;
  height: 90px;
  background-color: #fffae2;
  border: 2px solid #4f4f4f;
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section3_caseA_num {
  background-color: #ffd02b;
  width: 70px;
  height: 70px;
  border: 2px solid #4f4f4f;
  box-sizing: border-box;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  /* margin-left: 10px; */
}
.section3_caseB_num {
  background-color: #50b8b2;
}
.section3_caseA_txt {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  width: 270px;
}
/* ============  section3  end ============ */
/* ============  section4 ============ */
.section4 {
  height: 2940px;
}
.section4_bg {
  background: #fffae2;
  width: 100%;
  padding: 0.1px;
}
.section4_content {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  margin: 0 auto;
  width: 778px;
}
.section4_content_bold {
  font-weight: 500;
  line-height: 73px;
}
.section4_box0 {
  margin: 20px auto;
  display: flex;
  width: 782px;
  height: 77px;
  background: #ffffff;
  border: 2px solid #4f4f4f;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.section4_box0_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 18px 0 24px;
}
.section4_box1 {
  width: 782px;
  height: 850px;
  margin: 0 auto 20px;
  background: #ffffff;
  border: 2px solid #4f4f4f;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.section4_box2 {
  height: 520px;
}
.section4_box3 {
  height: 1100px;
}
.section4_box1_all {
  position: relative;
}
.section4_box1_mark {
  position: absolute;
  top: -36px;
  left: 27px;
  /* border: 1px solid red; */
}
.section4_box1_mark_num {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 17px;
  left: 22px;
}
.section4_box1_content {
  margin: 0 auto;
  font-size: 16px;
  text-align: justify;
  width: 600px;
  font-weight: 400;
  line-height: 23px;
}
.section4_box1_content span {
  font-weight: 500;
}
.section4_box1_img {
  text-align: center;
  margin: 27px 0 19px;
}
.section4_box_content {
  font-size: 18px;
  margin: 0 auto;
  width: 700px;
}
.section4_box2_content_title {
  margin-bottom: 10px;
}
.section4_box2_content_ul {
  display: flex;
  margin-bottom: 10px;
  padding: 0 10px;
}
.section4_box2_content_li {
  background-color: #50b8b2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 7px;
}
.section4_box2_content_li span {
  color: #fff;
  display: flex;
  justify-content: center;
  line-height: 30px;
}
.section4_box2_content_li_txt {
  line-height: 30px;
  width: 93%;
}
.section4_box3_all {
  display: flex;
  justify-content: space-between;
}
.section4_img1 {
  background-image: url("../img/pic-6.png");
  border: 5px solid #ffd02b;
  width: 190px;
  height: 190px;
}
.section4_img2 {
  background-image: url("../img/pic-7.png");
}
.section4_box3_both_title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 8px auto;
}
.section4_box3_content {
  font-size: 18px;
  margin: 0 auto;
  /* width: 90%; */
  /* width: 670px; */
}
.section4_box3_content_title{
    padding: 20px 10px;
    text-align: justify;
    /* margin:  auto 10px; */
}
.section4_box3_content_bg {
  width: 340px;
  height: 660px;
  background: #ffddbe;
  border-radius: 30px;
}
.section4_box3_content_li_txt {
  line-height: 30px;
  width: 88%;
}
.section4_box3_content_li {
    background-color: #F2994A;
  }
/* ============  section4  end ============ */
/* ============  section5 ============ */
/* ============  section5  end ============ */
/* ============  section6 ============ */
/* ============  section6  end ============ */