* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  letter-spacing: 0.03em;
}
body {
  margin: 0 auto;
  color: #4f4f4f;
}
header {
  width: 100%;
  max-height: 100px;
  height: 100px;
  position: relative;
  /* top :0 ;s */
  z-index: 10;
  margin: 0;
}
h1 {
  font-size: 48px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  color: #fff;
}
.content {
  width: 1050px;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  text-align: justify;
  letter-spacing: 0.05em;
  margin: 0 auto;
}
/* ================  nav_top   =============== */
.nav_top {
  height: 100px;
}
.nav_top_all {
  display: flex;
}
.nav_top_logo {
  padding: 22.5px 40px;
}
.nav_top_title_all {
  display: flex;
  font-size: 24px;
  line-height: 100px;
  height: 100px;
  margin-left: 10%;
}
.nav_top_title {
  padding-left: 42px;
  padding-right: 42px;
  cursor: pointer;
}
.nav_top_title1 {
  border-bottom: 3px solid rgba(255, 208, 43, 1);
}
.nav_top_title span:hover {
  border-bottom: 3px solid rgba(255, 208, 43, 1);
}
/* ================  nav_top   =============== */
/* ================  nav_right   =============== */
.nav_right {
  position: sticky;
  top: 0;
}
.nav_right_all {
  position: sticky;
  right: 0;
  top: 100px;
}
.nav_right_all_all {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #f2f2f2;
  height: 100vh;
}
.nav_right_title {
  position: relative;
}
.nav_right_bg_1 {
  position: relative;
  width: 50px;
  display: none;
}
.nav_right_bg {
  /* background-image: url("../../img/mark-1.svg");
  background-repeat: no-repeat; */
  position: absolute;
  left: -128px;
  height: 50px;
  width: 150px;
  /* display: none; */
}
.nav_right_text {
  position: absolute;
  left: -100px;
  font-size: 18px;
  /* width: 500px; */
  line-height: 50px;
  color: #fff;
}
.nav_right_img {
  /* padding: 5px; */
  border-bottom: 1px solid gray;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_right_img:hover {
  background-color: #ffd02b;
}
.img-box {
  overflow: hidden;
}
.img-box:hover .svg {
  width: 35px;
  transform: translateX(-45px);
}
.svg {
  width: 35px;
  filter: drop-shadow(45px 0 #016437);
}
.nav_right_img1 {
  border-top: 1px solid gray;
}
.nav_right_img img {
  width: 35px;
}

.main_div {
  width: calc(100% - 50px);
  display: inline-block;
}

aside.right_aside {
  width: 50px;
  display: inline-block;
}

div.flex_div {
  display: flex;
}
/* ================  nav_right   =============== */
